################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Exdui5/x64/Debug
/Release
/Exdui5/Release
/Exdui5/Debug/Exdui5.tlog
/Exdui5/Debug
/.vs/Exdui5/v15
/Debug
